*{
    padding: 0px;
    margin: 0px;
}
body {
    background: #ffffff;
}
header, .main, footer{
    width: 98%;
    max-width: 1000px;
    margin: 20px auto;
}
header{
    position: relative;
    background: #fff;
    border: 6px solid #ffd700;
    border-radius: 70px;
}
header div img{
    margin-left: 60px;
}
header div h1{
    color: #000;
    font-size: 35px;
    letter-spacing: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
.main .articles{
    width: 68.5%;
    margin-right: 1.5%;
    float: left;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0,1);
    content: "";
    bottom: -10px;
    left: 20px;
    border-radius: 10px;
    border-width: 2px 2px 2px;
    border-style: solid;
    border-color: #ffd700;
}
-main .articles article{
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}
.main .articles article h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #575454;
    margin-top: 20px;
}
.main .articles article p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: -15px;
    color: #575454;
}
aside{
    width: 26%;
    float: left;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #575454;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ffd700;
    border-radius: 10px;
}
aside h3{
    font-size: 16px;
    text-align: center;
}
aside nav ul{
    font-size: 16px;
    text-align: left;
    list-style-type: disc;
    margin-left: 25px;
}
.main .imagen{
    margin-top: 25px;
    margin-right: 25px;
    float: right;
}
.main .imagen2{
    margin-top: 50px;
    margin-right: 17px;
    float: right;
}
footer{
    background: #ffffff;
    border: 3px solid #ffd700;
    border-radius: 30px;
    color: #000000;
    clear: both;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
}